.container{
    width: 100%;
    height: 300px;
    background-color: aquamarine;
}

.caja1, .caja2, .caja3{
    width: 20%;
    height: 200px;
    background-color: blueviolet;
    animation-name: mover;
    animation-timing-function: all;
    animation-duration: 3s;
    left: 0;
    position: relative;
}
.caja2{
    background-color: chartreuse;
}
.caja3{
    background-color: darkblue;
}



@media (min-width:480px) and (max-width:1000px) {
    .container{
        background-color: deeppink;
        height: auto;
    }
}

@keyframes mover{
    from{
        top: 0;
        left: 0;
    }
    to{
        top: 10%;
        left: 500px;
    }
}

.tarjetas{
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 300px;
}